#manu {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 20px;
  font-size: 20px;
}

#name {
  color: #00a2ff;
}

#buttonbox {
  display: flex;
  align-items: center;
  background-color: rgba(201, 213, 236, 0.763);
  padding: 15px;
  border-radius: 10px;
  width: 450px;
  height: 30px;
  max-width: 100%;
  border: 20px;


}

#email {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  color: #555;
  font-size: 15px;
}

#btn {
  color: white;
  background: linear-gradient(to right, #00bcd4, #00a2ff);
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 16px;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;

}

#btn:hover {
  color: black;
}
#fullbox{
    border: 1px solid lab(63.11% -1.85 -54.16) ;
  background: linear-gradient(to right, #00bbd400, #23a2ec67);
  display: flex;
  border-radius: 16px;
  height: 250px;
  padding: 5px 40px;
  align-items: center;
  gap: 40px;
  
}
#topic{
  padding-bottom: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
}
#topic h3{
font-family: Arial, Helvetica, sans-serif;
font-style: bold;
margin-bottom: 5px;
}
#topic p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5;
  max-width: 250px;
  font-size: 13px;
  line-height: 1.6;
}
#card{
  display: flex;
  gap: 20px;

}
#fullbox{
  overflow: auto;
}
.backimg{
  border: 4px solid hwb(0 100% 0%) ;
  width: 160px;
  height: 180px;
  padding: 20px;
  color: white;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;

}
.backimg::before {
  content: "";
  inset: 0;
  position: absolute;
   background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.507),
    rgba(0,0,0,0.1)
  );
}
.backimg h3,
.backimg span{
  position: relative;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
}
.dhaka{
  background-image: url(trpic/dhaka.jpeg);
}
.ahsan{
  background-image: url(trpic/ahsan.jpeg);
}
.cox{
  background-image: url(trpic/cox.jpeg);
}
.island{
  background-image: url(trpic/island.jpeg);
}
.sajek{
  background-image: url(trpic/sajek.jpeg);
}